// Normalization
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  font-size: 62.5%;
  @media only screen and (max-width: 64em) {
    font-size: 55.5%;
  }

  @media only screen and (max-width: 37.5em) {
    font-size: 50%;
  }

  @media only screen and (min-width: 143.75em) {
    font-size: 90%;
  }

  @media only screen and (min-width: 187.5em) {
    font-size: 110%;
  }

  @media only screen and (min-width: 237.5em) {
    font-size: 115%;
  }
}

body {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

main {
  width: 90%;
  margin: 2.5rem auto;
  @media only screen and (max-width: 64em) {
    width: 85%;
  }

  @media only screen and (max-width: 31.25em) {
    width: 78%;
  }

  @media only screen and (min-width: 87.5em) {
    width: 120rem;
  }
}
