//<-------------colors-------------->
$color-primary: #1c1f22;

//<-------------fonts colors-------->
$color-font-secondary: #adb0bb;

//<-------------fonts--------------->
$font-primary: "Roboto", sans-serif;
$font-secondary: "Inconsolata", sans-serif;
$font-third: "Montserrat", Tahoma, Arial, sans-serif;
