//<-------------colors-------------->
$color-primary: #1c1f22;
$color-secondary: #1c2025;
$scroll-bar: #8c8d8d;

//<-------------fonts colors-------->
$color-font-secondary: #adb0bb;

//<-------------fonts--------------->
$font-primary: "Roboto", sans-serif;
$font-secondary: "Inconsolata", sans-serif;
$font-third: "Montserrat", Tahoma, Arial, sans-serif;
